#wp-admin-bar-dusky .ab-item.ab-empty-item {
    display: none;
}

.dusky-toggle-wrap.dusky-ignore {
    width: 90px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #eeeeee;
    padding: 10px;
    cursor: pointer;
    border: 0;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 63%);
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 63%);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.dusky-toggle-wrap.dusky-ignore * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.dusky-toggle-wrap.dusky-ignore .dusky-toggle-icon {
    border-radius: 50%;
    padding: 5px;
    -webkit-transform: translate(-5px);
    -ms-transform: translate(-5px);
    transform: translate(-5px);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.dusky-toggle-wrap.dusky-ignore .dusky-toggle-icon .dusky-toggle-main-icon {
    -webkit-mask: url(../icons/sun.svg) no-repeat center/contain;
    mask: url(../icons/sun.svg) no-repeat center/contain;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
}
.dusky-toggle-wrap.dusky-ignore .dusky-toggle-text {
    -webkit-transform: translate(3px);
    -ms-transform: translate(3px);
    transform: translate(3px);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.dusky-toggle-wrap.dusky-ignore .dusky-toggle-text .dusky-dark {
    display: none;
}
.dusky-toggle-wrap.dusky-ignore.dusky-active-dark {
    background: #000000;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(255 255 255 / 63%);
    box-shadow: 0px 0px 10px 0px rgb(255 255 255 / 63%);
}
.dusky-toggle-wrap.dusky-ignore.dusky-active-dark .dusky-toggle-icon {
    background: #ffffff;
    -webkit-transform: translate(43px);
    -ms-transform: translate(43px);
    transform: translate(43px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-active-dark
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    -webkit-mask: url(../icons/moon.svg) no-repeat center/contain;
    mask: url(../icons/moon.svg) no-repeat center/contain;
}
.dusky-toggle-wrap.dusky-ignore.dusky-active-dark .dusky-toggle-text {
    -webkit-transform: translate(-32px);
    -ms-transform: translate(-32px);
    transform: translate(-32px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-active-dark
    .dusky-toggle-text
    .dusky-light {
    display: none;
}
.dusky-toggle-wrap.dusky-ignore.dusky-active-dark
    .dusky-toggle-text
    .dusky-dark {
    display: block;
    color: #fff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-large {
    width: 100px;
    height: 45px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-large
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    width: 25px;
    height: 25px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-large .dusky-toggle-text span {
    font-size: 18px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-large.dusky-active-dark
    .dusky-toggle-icon {
    -webkit-transform: translate(48px);
    -ms-transform: translate(48px);
    transform: translate(48px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-large.dusky-active-dark
    .dusky-toggle-text {
    -webkit-transform: translate(-32px);
    -ms-transform: translate(-32px);
    transform: translate(-32px);
}

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-small {
    width: 80px;
    height: 35px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-small
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    width: 15px;
    height: 15px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-small .dusky-toggle-text span {
    font-size: 14px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-small.dusky-active-dark
    .dusky-toggle-icon {
    -webkit-transform: translate(37px);
    -ms-transform: translate(37px);
    transform: translate(37px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-small.dusky-active-dark
    .dusky-toggle-text {
    -webkit-transform: translate(-28px);
    -ms-transform: translate(-28px);
    transform: translate(-28px);
}

/* Toggle Button 1 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1 {
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    width: 45px;
    height: 45px;
    background: #ffffff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-active-dark {
    background: #000000;
    border: 1px solid #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-active-dark
    .dusky-toggle-icon {
    background: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1 .dusky-toggle-icon {
    position: relative;
    padding: 0;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1 .dusky-toggle-icon::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/sun.svg) no-repeat center/contain;
    mask: url(../icons/sun.svg) no-repeat center/contain;
    background-color: #000;
    bottom: -50px;
    left: calc(50% - 10px);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-active-light
    .dusky-toggle-icon::after {
    bottom: calc(50% - 10px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1
    .dusky-toggle-icon::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/moon.svg) no-repeat center/contain;
    mask: url(../icons/moon.svg) no-repeat center/contain;
    background-color: #000;
    top: -50px;
    left: calc(50% - 10px);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-active-dark
    .dusky-toggle-icon::before {
    top: calc(50% - 10px);
    background-color: #fff;
}

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    display: none;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1 .dusky-toggle-icon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1 .dusky-toggle-text {
    display: none;
}

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-large {
    width: 50px;
    height: 50px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-large.dusky-active-dark
    .dusky-toggle-icon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-large
    .dusky-toggle-icon::after {
    width: 25px;
    height: 25px;
    left: calc(50% - 12.5px);
    bottom: -60px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-large.dusky-active-light
    .dusky-toggle-icon::after {
    bottom: calc(50% - 12.5px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-large
    .dusky-toggle-icon::before {
    width: 25px;
    height: 25px;
    left: calc(50% - 12.5px);
    top: -60px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-large.dusky-active-dark
    .dusky-toggle-icon::before {
    top: calc(50% - 12.5px);
    background-color: #ffffff;
}

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-small {
    width: 40px;
    height: 40px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-small.dusky-active-dark
    .dusky-toggle-icon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-small
    .dusky-toggle-icon::after {
    width: 15px;
    height: 15px;
    left: calc(50% - 7.5px);
    bottom: -60px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-small.dusky-active-light
    .dusky-toggle-icon::after {
    bottom: calc(50% - 7.5px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-small
    .dusky-toggle-icon::before {
    width: 15px;
    height: 15px;
    left: calc(50% - 7.5px);
    top: -60px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-1.dusky-toggle-small.dusky-active-dark
    .dusky-toggle-icon::before {
    top: calc(50% - 7.5px);
}

/* Toggle Button 2 */

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-2 .dusky-toggle-icon {
    background: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-2.dusky-active-dark
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-2.dusky-active-dark {
    background: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-2.dusky-active-dark
    .dusky-toggle-icon {
    background: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-2.dusky-active-dark
    .dusky-toggle-text
    .dusky-dark {
    color: #fff;
}

/* Toggle Button 3 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-3 {
    border: solid 1px #ddd;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-3 .dusky-toggle-icon {
    background: -o-linear-gradient(left, #3858e9 30%, #000000);
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(30%, #3858e9),
        to(#000000)
    );
    background: linear-gradient(90deg, #3858e9 30%, #000000);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-3.dusky-active-dark {
    background: -o-linear-gradient(left, #3858e9 30%, #000000);
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(30%, #3858e9),
        to(#000000)
    );
    background: linear-gradient(90deg, #3858e9 30%, #000000);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-3.dusky-active-dark
    .dusky-toggle-icon {
    background: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-3.dusky-active-dark
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-3 .dusky-toggle-text {
    display: none;
}

/* Toggle Button 4 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4 {
    border: solid 1px #ddd;
    overflow: visible;
    margin: 0 30px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4 .dusky-toggle-icon {
    background: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4.dusky-active-dark {
    background: #148333;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4.dusky-active-dark
    .dusky-toggle-icon {
    background: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    opacity: 0;
}

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/sun.svg) no-repeat center/contain;
    mask: url(../icons/sun.svg) no-repeat center/contain;
    background-color: #000;
    bottom: calc(50% - 10px);
    left: -30px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/moon.svg) no-repeat center/contain;
    mask: url(../icons/moon.svg) no-repeat center/contain;
    background-color: #000;
    top: calc(50% - 10px);
    right: -30px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4.dusky-active-dark::after,
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4.dusky-active-dark::before {
    background-color: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4 .dusky-toggle-text {
    display: none;
}

/* Toggle Button 5 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5 {
    border: solid 1px #ddd;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5 .dusky-toggle-icon {
    background: transparent;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5.dusky-active-dark {
    background: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5.dusky-active-dark
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5 .dusky-toggle-text::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5.dusky-active-light
    .dusky-toggle-text::after {
    background: #000000;
    right: -35px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5.dusky-active-dark
    .dusky-toggle-text::after {
    background: #ffffff;
    right: -20px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5.dusky-toggle-large
    .dusky-toggle-text::after {
    width: 25px;
    height: 25px;
    top: calc(50% - 12.5px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5.dusky-toggle-small
    .dusky-toggle-text::after {
    width: 15px;
    height: 15px;
    top: calc(50% - 7.5px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5.dusky-active-light.dusky-toggle-small
    .dusky-toggle-text::after {
    right: -30px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5
    .dusky-toggle-text
    .dusky-light,
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5
    .dusky-toggle-text
    .dusky-dark {
    display: none;
}

/* Toggle Button 6 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6 {
    height: 35px;
    overflow: visible;
    background: -o-linear-gradient(left, #ffffff, #0f40ff);
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ffffff),
        to(#0f40ff)
    );
    background: linear-gradient(to right, #ffffff, #0f40ff);
    border: solid 1px #ddd;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6 .dusky-toggle-icon {
    background: #ffffff;
    -webkit-box-shadow:
        rgba(60, 64, 67, 0.3) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
    box-shadow:
        rgba(60, 64, 67, 0.3) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6.dusky-active-dark {
    background: -o-linear-gradient(left, #0f40ff, #fff);
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#0f40ff),
        to(#fff)
    );
    background: linear-gradient(to right, #0f40ff, #fff);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #0f40ff;
    width: 30px;
    height: 30px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6 .dusky-toggle-icon {
    -webkit-transform: translate(-12px);
    -ms-transform: translate(-12px);
    transform: translate(-12px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6.dusky-active-dark
    .dusky-toggle-icon {
    -webkit-transform: translate(42px);
    -ms-transform: translate(42px);
    transform: translate(42px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6.dusky-toggle-large {
    height: 40px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6.dusky-toggle-large
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    width: 35px;
    height: 35px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6.dusky-toggle-small {
    height: 30px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6.dusky-toggle-small
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    width: 25px;
    height: 25px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6.dusky-active-dark
    .dusky-toggle-icon {
    background: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6.dusky-active-dark
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-6 .dusky-toggle-text {
    display: none;
}

/* Toggle Button 7 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7 {
    border: solid 1px #ddd;
    overflow: visible;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7 .dusky-toggle-icon {
    background: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7.dusky-active-dark {
    background: #0f40ff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    opacity: 0;
}

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/sun.svg) no-repeat center/contain;
    mask: url(../icons/sun.svg) no-repeat center/contain;
    background-color: #ffffff;
    bottom: calc(50% - 10px);
    left: 10px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    z-index: 1;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/moon.svg) no-repeat center/contain;
    mask: url(../icons/moon.svg) no-repeat center/contain;
    background-color: #000;
    top: calc(50% - 10px);
    right: 10px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    z-index: 1;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7.dusky-active-dark::after {
    background-color: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7.dusky-toggle-large::before {
    width: 24px;
    height: 24px;
    bottom: calc(50% - 12px);
    left: 10px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7.dusky-toggle-large::after {
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    right: 10px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7.dusky-toggle-small::before {
    width: 18px;
    height: 18px;
    bottom: calc(50% - 9px);
    left: 8px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7.dusky-toggle-small::after {
    width: 18px;
    height: 18px;
    top: calc(50% - 9px);
    right: 8px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-7 .dusky-toggle-text {
    display: none;
}

/* Toggle Button 8 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-8 {
    border: solid 1px #ddd;
    background-image: url(../icons/day-8.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-8 .dusky-toggle-icon {
    background: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-8.dusky-active-dark {
    background-image: url(../icons/night-8.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-8
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-8 .dusky-toggle-text {
    display: none;
}
/* Toggle Button 9 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-9 {
    background-image: url(../icons/day-9.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 1px #ddd;
    overflow: visible;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-9 .dusky-toggle-icon {
    background: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-9.dusky-active-dark {
    background-image: url(../icons/night-9.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-9
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    opacity: 0;
}

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-9::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/sun.svg) no-repeat center/contain;
    mask: url(../icons/sun.svg) no-repeat center/contain;
    background-color: #ffffff;
    bottom: calc(50% - 10px);
    left: 10px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    z-index: 1;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-9::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/moon.svg) no-repeat center/contain;
    mask: url(../icons/moon.svg) no-repeat center/contain;
    background-color: #ffffff;
    top: calc(50% - 10px);
    right: 10px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    z-index: 1;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-9.dusky-toggle-large::before {
    width: 24px;
    height: 24px;
    bottom: calc(50% - 12px);
    left: 10px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-9.dusky-toggle-large::after {
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    right: 10px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-9.dusky-toggle-small::before {
    width: 18px;
    height: 18px;
    bottom: calc(50% - 9px);
    left: 8px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-9.dusky-toggle-small::after {
    width: 18px;
    height: 18px;
    top: calc(50% - 9px);
    right: 8px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-9 .dusky-toggle-text {
    display: none;
}
/* Toggle Button 10 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-10 {
    background-image: url(../icons/day-10.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-10 .dusky-toggle-icon {
    background: #ffffff;
    -webkit-box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-10.dusky-active-dark {
    background-image: url(../icons/night-10.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-10
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    opacity: 0;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-10 .dusky-toggle-text {
    display: none;
}

/* Toggle Button 11 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-11 {
    overflow: visible;
    margin: 0 60px;
    background-image: url(../icons/day-10.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-11 .dusky-toggle-icon {
    background: transparent;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-11.dusky-active-dark {
    background-image: url(../icons/night-10.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-11
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-11.dusky-active-dark
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-11 .dusky-toggle-text {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    color: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-11.dusky-active-dark
    .dusky-toggle-text {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    color: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-11
    .dusky-toggle-text
    .dusky-light {
    display: block;
    position: absolute;
    top: -15px;
    left: -100px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-11
    .dusky-toggle-text
    .dusky-dark {
    display: block;
    position: absolute;
    top: -15px;
    right: -105px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-11.dusky-toggle-small
    .dusky-toggle-text
    .dusky-light {
    top: -12px;
    left: -80px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-11.dusky-toggle-small
    .dusky-toggle-text
    .dusky-dark {
    top: -12px;
    right: -85px;
}

/* Toggle Button 12 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12 {
    border-radius: 10px;
    border: 0;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12 .dusky-toggle-icon {
    background: #000000;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    -webkit-transform: translate(-10px);
    -ms-transform: translate(-10px);
    transform: translate(-10px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-active-dark {
    background: #5d97f2;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-active-dark
    .dusky-toggle-icon {
    -webkit-transform: translate(41px);
    -ms-transform: translate(41px);
    transform: translate(41px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    opacity: 0;
}

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/sun.svg) no-repeat center/contain;
    mask: url(../icons/sun.svg) no-repeat center/contain;
    background-color: #ffffff;
    bottom: calc(50% - 10px);
    left: 10px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    z-index: 1;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/moon.svg) no-repeat center/contain;
    mask: url(../icons/moon.svg) no-repeat center/contain;
    background-color: #000;
    top: calc(50% - 10px);
    right: 10px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    z-index: 1;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-active-dark::before {
    background-color: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-active-dark::after {
    background-color: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-toggle-large::before {
    width: 24px;
    height: 24px;
    bottom: calc(50% - 12px);
    left: 10px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-toggle-large::after {
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    right: 10px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-toggle-large
    .dusky-toggle-icon {
    height: 45px;
    width: 45px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-toggle-large.dusky-active-dark
    .dusky-toggle-icon {
    -webkit-transform: translate(46px);
    -ms-transform: translate(46px);
    transform: translate(46px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-toggle-small::before {
    width: 18px;
    height: 18px;
    bottom: calc(50% - 9px);
    left: 8px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-toggle-small::after {
    width: 18px;
    height: 18px;
    top: calc(50% - 9px);
    right: 8px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-toggle-small
    .dusky-toggle-icon {
    height: 35px;
    width: 35px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12.dusky-toggle-small.dusky-active-dark
    .dusky-toggle-icon {
    -webkit-transform: translate(36px);
    -ms-transform: translate(36px);
    transform: translate(36px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12 .dusky-toggle-text {
    display: none;
}

/* Toggle Button 13 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13 {
    padding: 0;
    width: 120px;
    border: 0;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13 .dusky-toggle-icon {
    background: #000000;
    border-radius: 50px;
    padding: 10px 25px;
    -webkit-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13.dusky-active-dark
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13.dusky-active-dark {
    background: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13.dusky-active-dark
    .dusky-toggle-icon {
    background: #ffffff;
    -webkit-transform: translate(50px);
    -ms-transform: translate(50px);
    transform: translate(50px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13.dusky-active-dark
    .dusky-toggle-text {
    -ms-transform: translate(-62px);
    -webkit-transform: translate(-62px);
    transform: translate(-62px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13.dusky-active-dark
    .dusky-toggle-text
    .dusky-dark {
    color: #fff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13.dusky-toggle-large {
    width: 130px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13 .dusky-toggle-text {
    -ms-transform: translate(8px);
    -webkit-transform: translate(8px);
    transform: translate(8px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13.dusky-toggle-large.dusky-active-dark
    .dusky-toggle-icon {
    -webkit-transform: translate(56px);
    -ms-transform: translate(56px);
    transform: translate(56px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13.dusky-toggle-small {
    width: 110px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13.dusky-toggle-small.dusky-active-dark
    .dusky-toggle-icon {
    -webkit-transform: translate(45px);
    -ms-transform: translate(45px);
    transform: translate(45px);
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-13.dusky-toggle-small.dusky-active-dark
    .dusky-toggle-text {
    -ms-transform: translate(-55px);
    -webkit-transform: translate(-55px);
    transform: translate(-55px);
}

/* Toggle Button 14 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-14 {
    overflow: visible;
    background-image: url(../icons/day-10.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-14 .dusky-toggle-icon {
    background: transparent;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-14.dusky-active-dark {
    background-image: url(../icons/night-10.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-14
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-14.dusky-active-dark
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-14 .dusky-toggle-text {
    display: none;
}

/* Toggle Button 15 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-15 {
    background: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-15.dusky-active-dark {
    background: #000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-15 .dusky-toggle-icon {
    border: 1px solid #000;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-15.dusky-active-dark
    .dusky-toggle-icon {
    border: 1px solid #fff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-15
    .dusky-toggle-icon::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    background: #000;
}

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-15
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background: #000;
    -webkit-mask-image: unset;
    border-radius: 500px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-15
    .dusky-toggle-icon
    .dusky-toggle-main-icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-15
    .dusky-toggle-icon
    .dusky-toggle-main-icon::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    right: 50%;
    top: 0;
    background: #000;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-15 .dusky-toggle-text {
    display: none;
}

/* Toggle Button 16 */
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16 {
    border: solid 1px #ddd;
    width: 145px;
    height: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0 30px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/sun.svg) no-repeat center/contain;
    mask: url(../icons/sun.svg) no-repeat center/contain;
    background-color: #3858e9;
    bottom: calc(50% - 10px);
    left: 5px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-mask: url(../icons/moon.svg) no-repeat center/contain;
    mask: url(../icons/moon.svg) no-repeat center/contain;
    background-color: #000;
    top: calc(50% - 10px);
    right: 5px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16.dusky-active-dark::after {
    background-color: #ffffff;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16.dusky-active-dark::before {
    background-color: #3858e9;
}

.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16 .dusky-toggle-icon {
    display: none;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16
    .dusky-toggle-text
    .dusky-dark {
    display: block;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16
    .dusky-toggle-text
    .dusky-light {
    color: #3858e9;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16.dusky-active-dark
    .dusky-toggle-text
    .dusky-light {
    display: block;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16.dusky-active-dark
    .dusky-toggle-text
    .dusky-dark {
    color: #3858e9;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16 .dusky-toggle-text,
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16.dusky-toggle-large
    .dusky-toggle-text,
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16.dusky-toggle-small
    .dusky-toggle-text {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
    line-height: 14px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16
    .dusky-toggle-text::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 400px;
    top: calc(50% - 200px);
    left: 50%;
    background: #bebebe;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16.dusky-active-dark
    .dusky-toggle-text::after {
    background: #bebebe;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16.dusky-toggle-large {
    width: 160px;
    height: 55px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16.dusky-toggle-small {
    width: 140px;
    height: 40px;
}

/* floting toggle */

.dusky-toggle-wrap.dusky-ignore.dusky-floting {
    position: fixed;
    z-index: 999999999999;
    bottom: 30px;
}
.dusky-toggle-wrap.dusky-ignore.dusky-floting.dusky-left {
    left: 30px;
    right: auto;
}
.dusky-toggle-wrap.dusky-ignore.dusky-floting.dusky-right {
    right: 30px;
    left: auto;
}
.dusky-toggle-wrap.dusky-ignore.dusky-floting.dusky-middle {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.dusky-toggle-style-admin-bar {
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
    border-radius: 500px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mce-ico.mce-i-dusky_toggle,
.dusky-toggle-style-admin-bar.dusky-active-light .dusky-toggle-icon-light {
    -webkit-mask: url(../icons/sun.svg) no-repeat center/contain;
    mask: url(../icons/sun.svg) no-repeat center/contain;
    background-color: #000000;
    width: 15px !important;
    height: 15px !important;
    margin: 0 auto !important;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mce-ico.mce-i-dusky_toggle.dusky-mode-dark,
.dusky-toggle-style-admin-bar.dusky-active-dark .dusky-toggle-icon-dark {
    -webkit-mask: url(../icons/moon.svg) no-repeat center/contain;
    mask: url(../icons/moon.svg) no-repeat center/contain;
    background-color: #ffffff;
    width: 15px !important;
    height: 15px !important;
    margin: 0 auto !important;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#wp-admin-bar-dusky {
    line-height: 22px;
    margin-top: 4px !important;
}

.dusky-toggle-style-admin-bar.dusky-active-light {
    background: #ffffff;
}
.dusky-toggle-style-admin-bar.dusky-active-dark {
    background: #000000;
}

.dusky-toggle-wrap.dusky-floting.dusky-custom {
    bottom: var(--dusky-toggle-bottom-offset);
    left: var(--dusky-toggle-left-side-offset);
    right: var(--dusky-toggle-right-side-offset);
}

.dusky-toggle-wrap.dusky-floting.dusky-toggle-custom {
    width: var(--dusky-toggle-custom-size);
}

.dusky-toggle-wrap.dusky-floting.dusky-toggle-custom.dusky-toggle-style-1 {
    width: var(--dusky-toggle-custom-size);
    height: var(--dusky-toggle-custom-size);
}
