#dusky-admin-app * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Toggle styles */

.floting-toggle-style {
    margin: 35px 0;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2392156863);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2392156863);
    border-radius: 10px;
}

.dusky-toggls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
}

.dusky-toggls .dusky-ignore.dusky-toggle-item {
    padding: 12px 15px;
    background: #dddddd;
    min-width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    border: 4px solid #ddd;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dusky-toggls .dusky-ignore.dusky-toggle-item:hover {
    background: #000000;
    border: 4px solid #000000;
}
.dusky-toggls .dusky-ignore.dusky-toggle-item.active {
    border: 4px solid #0c9959;
}

.dusky-toggls .dusky-ignore.dusky-toggle-item span.dusky-toggle-label {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 0 5px;
    color: #fff;
    background: #000;
    border-radius: 8px 0 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #ddd;
}
.dusky-toggls .dusky-ignore.dusky-toggle-item.active span.dusky-toggle-label {
    background: #0c9959;
    border: 1px solid #0c9959;
}

.dusky-toggls .dusky-ignore.dusky-toggle-item .dusky-toggle-wrap {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 5px;
    border-radius: 50px;
}
.dusky-toggls .dusky-ignore.dusky-toggle-item:hover .dusky-toggle-wrap {
    -webkit-box-shadow: 0px 0px 10px 0px rgb(255 255 255 / 63%);
    box-shadow: 0px 0px 10px 0px rgb(255 255 255 / 63%);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    -webkit-mask: url(../../icons/moon.svg) no-repeat center/contain;
    mask: url(../../icons/moon.svg) no-repeat center/contain;
}
.dusky-toggls .dusky-toggle-wrap .dusky-toggle-icon {
    -webkit-transform: translate(5px);
    -ms-transform: translate(5px);
    transform: translate(5px);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap
    .dusky-toggle-icon {
    -webkit-transform: translate(43px);
    -ms-transform: translate(43px);
    transform: translate(43px);
}

/* Toggle style button 1 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-1 {
    background: #000000;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-1
    .dusky-toggle-icon::after {
    bottom: -50px;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-1
    .dusky-toggle-icon::before {
    top: calc(50% - 10px) !important;
    background-color: #ffffff;
}
.dusky-toggls .dusky-toggle-wrap.dusky-toggle-style-1 .dusky-toggle-icon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-1
    .dusky-toggle-icon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

/* Toggle style button 2 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-2
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-2 {
    background: #000000;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-2
    .dusky-toggle-icon {
    background: #ffffff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-2
    .dusky-toggle-text
    .dusky-dark {
    color: #fff;
}
.dusky-toggls .dusky-toggle-wrap.dusky-toggle-style-2 .dusky-toggle-text {
    -webkit-transform: translate(15px);
    -ms-transform: translate(15px);
    transform: translate(15px);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-2
    .dusky-toggle-text {
    -webkit-transform: translate(-25px);
    -ms-transform: translate(-25px);
    transform: translate(-25px);
    color: #fff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-itemv.dusky-toggle-wrap
    .dusky-toggle-text
    .dusky-dark {
    display: none;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap
    .dusky-toggle-text
    .dusky-light {
    display: none;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap
    .dusky-toggle-text
    .dusky-dark {
    display: block;
}

/* Toggle style button  3*/
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-3 {
    background: -o-linear-gradient(left, #3858e9 30%, #000000);
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(30%, #3858e9),
        to(#000000)
    );
    background: linear-gradient(90deg, #3858e9 30%, #000000);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-3
    .dusky-toggle-icon {
    background: #ffffff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-3
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}

/* Toggle style button 4 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-4 {
    background: #148333;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-4
    .dusky-toggle-icon {
    background: #ffffff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4::after,
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-4::before {
    background-color: #ffffff;
}

/* Toggle style button 5 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-5 {
    background: #000000;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-5
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #ffffff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-5.dusky-active-light
    .dusky-toggle-text::after {
    right: -35px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-5
    .dusky-toggle-text::after {
    background: #ffffff;
    right: 5px;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-5
    .dusky-toggle-text
    .dusky-light,
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-5
    .dusky-toggle-text
    .dusky-dark {
    display: none;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-5
    .dusky-toggle-text
    .dusky-light,
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-5
    .dusky-toggle-text
    .dusky-dark {
    display: none;
}

/* Toggle style button 6 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-6
    .dusky-toggle-icon {
    -webkit-transform: translate(-12px);
    -ms-transform: translate(-12px);
    transform: translate(-12px);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-6
    .dusky-toggle-icon {
    -webkit-transform: translate(48px);
    -ms-transform: translate(48px);
    transform: translate(48px);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-6
    .dusky-toggle-icon {
    background: #ffffff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-6
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}

/* Toggle style button 7 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-7 {
    background: #0f40ff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-7::after {
    background-color: #ffffff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-7::before {
    left: 15px;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-7::after {
    right: 15px;
}

/* Toggle style button 8 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-8 {
    background-image: url(../../icons/night-8.png);
}

/* Toggle style button 9 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-9 {
    background-image: url(../../icons/night-9.svg);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-9::before {
    left: 15px;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-9::after {
    right: 15px;
}

/* Toggle style button 10 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-10 {
    background-image: url(../../icons/night-10.png);
}

/* Toggle style button 11 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-11 {
    background-image: url(../../icons/night-10.png);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-11
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #ffffff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-11
    .dusky-toggle-text {
    color: #ffffff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-11
    .dusky-toggle-text
    .dusky-light {
    display: block;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-11
    .dusky-toggle-text
    .dusky-dark,
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-11
    .dusky-toggle-text
    .dusky-light {
    top: -10px;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-11
    .dusky-toggle-text
    .dusky-light {
    left: -90px;
}

/* Toggle style button 12 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-12 {
    background: #5d97f2;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-12 {
    border-radius: 10px;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-12
    .dusky-toggle-icon {
    -webkit-transform: translate(-6px);
    -ms-transform: translate(-6px);
    transform: translate(-6px);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-12
    .dusky-toggle-icon {
    -webkit-transform: translate(46px);
    -ms-transform: translate(46px);
    transform: translate(46px);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12::before {
    background-color: #000000;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-12::after {
    background-color: #ffffff;
}

/* Toggle style button 13 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-13 {
    padding: 0;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-toggle-style-13
    .dusky-toggle-icon {
    -webkit-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-13
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #000000;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-13 {
    background: #000000;
    -webkit-box-shadow: 0px 0px 16px 0px rgb(255 255 255 / 63%);
    box-shadow: 0px 0px 16px 0px rgb(255 255 255 / 63%);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-13
    .dusky-toggle-icon {
    background: #ffffff;
    -webkit-transform: translate(50px);
    -ms-transform: translate(50px);
    transform: translate(50px);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-13
    .dusky-toggle-text {
    -ms-transform: translate(-55px);
    -webkit-transform: translate(-55px);
    transform: translate(-55px);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-13
    .dusky-toggle-text
    .dusky-dark {
    color: #fff;
}

/* Toggle style button 14 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-14 {
    background-image: url(../../icons/night-10.png);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-14
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background-color: #ffffff;
}

/* Toggle style button 15 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-15 {
    background: #000;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-15
    .dusky-toggle-icon {
    border: 1px solid #fff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-toggle-style-15
    .dusky-toggle-icon
    .dusky-toggle-main-icon {
    background: #000;
    -webkit-mask-image: unset;
    border-radius: 500px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* Toggle Button 16 */
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16 {
    border-radius: 8px;
    padding: 0 30px;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16 {
    background: #000;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16
    .dusky-toggle-text {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16
    .dusky-toggle-text
    .dusky-light {
    color: #3858e9;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16
    .dusky-toggle-text
    .dusky-light {
    display: block;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16
    .dusky-toggle-text
    .dusky-dark {
    color: #000000;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16
    .dusky-toggle-text
    .dusky-dark {
    color: #3858e9;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16::after {
    background-color: #ffffff;
}
.dusky-toggls
    .dusky-ignore.dusky-toggle-item:hover
    .dusky-toggle-wrap.dusky-ignore.dusky-toggle-style-16::before {
    background-color: #3858e9;
}
